html {
    height: 100%;
    margin: 0%;
    background-image: url(../plaatjes/yi.jpg);
   
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}

h1 { background-color: yellow;
}

p  {
    background-color: yellow  ;
}