

body {
    height: 100%;
    margin: 0%;
    padding-top: 10px;
    background-image: url('../plaatjes/tokyo.jpg');
   background-size:auto;
   background-position: center center;
   position: relative;
   top: 0;
   bottom:0;
   height:100vh;
   z-index:-10;
}

#hero-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom:0;
    height:100%;
    width:100%;
    z-index:-5;

}
h1 { 
    color: white;
}

p  {
    color: white;
    background-color: black;
}



.alinea1 {  
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px;
  } 

.welcome-text h1{
   text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}

.welcome-text{
text-align: center  ;
}